%rebase('base.html', title='Sanjsko potovanje')
<div><p></p></div>
<span style="color:transparent"><font size="3">.</font></span>
<div><p></p></div>
 %if napaka:
 <div class="alert alert-warning">{{napaka}}</div>
 %end
 <div><p></p></div>
<span style="color:transparent"><font size="3">.</font></span>
<div><p></p></div>
<form id="trac-forma" class="form-horizontal" method="post" action="/">
<fieldset>
	<div>
		<a class="btn btn-primary" href="/user/{{username}}/"><span class="glyphicon glyphicon-backward"></span> Pojdi na stran uporabnika</a>
    </div>
    <div><p></p></div>
	<div>
      <a class="btn btn-primary" href="/"><span class="glyphicon glyphicon-backward"></span> Izberi nov let in si rezerviraj karto</a>
    </div>
	 
</fieldset>
</form> 
