%rebase('base1.html', title=ime)

<div class="page-header">
<h3><b>{{ime}} {{priimek}}</b></h3>
</h1>
</div>
	
<!-- TUKI VSTAVI SEZNAM KART, ki jih ima uporabnik rezervirane -->
<div class="container">
    <div class="row col-md-6 col-md-offset-2 custyle">
	<legend>Rezervirane karte</legend>
    <table class="table table-striped custab">
    <thead>
        <tr>
            <th>ID karte</th>
			<th>Datum in čas nakupa</th>
			<th>Potnik</th>
            <th>Začetno letališče</th>
            <th>Končno letališče</th>
            <th>Letalska družba</th>
			<th>Cena</th>
            <th class="text-center">Podrobnosti</th>
        </tr>
    </thead>

% for (id_karte, cas, ime, priimek ,id_leta, zac_let, zac_mest, zac_drz, kon_let, kon_mest, kon_drz, ponudnik, dolzina, cena) in vse_karte:
            <tr>
                <td>{{id_karte}}</td>
				<td>{{cas}}</td>
				<td>{{ime}} {{priimek}}</td>
                <td>{{zac_let}}<br>({{zac_mest}}, {{zac_drz}})</td>
                <td>{{kon_let}}<br>({{kon_mest}}, {{kon_drz}})</td>
                <td>{{ponudnik}}</td>
                <th>{{cena}}€</th>
                <td class="text-center"><a class='btn btn-info btn-xs' href="/kupljena_karta_podrobnosti/{{id_karte}}"><span class="glyphicon glyphicon-forward"></span>  Podrobnosti</a></td>
            </tr>
%end
    </table>
	   %if obvestila != []:
        <div class="alert {{obvestila[0][0]}}">{{obvestila[0][1]}}</div>
	   %end
    </div>
</div>
 
<div>
  <a class="btn btn-primary" href="/"><span style="color:white"><span class="glyphicon glyphicon-backward"></span> Izberi nov let in si rezerviraj karto</span></a>
</div>

<div><p></p></div>

<!-- OBRAZEC ZA SPREMINJANJE PODATKOV --> 
   <form class="row col-md-6 col-md-offset-2 custyle" method="post" action=".">
   <fieldset>

   <!-- Form Name -->
   <legend>Spremenite svoje podatke</legend>

   %for sporocilo in sporocila:
     <div class="alert {{sporocilo[0]}}">{{sporocilo[1]}}</div>
   %end

   <!-- Password input-->
   <div class="control-group">
     <label class="control-label" for="password1">Staro geslo</label>
     <div class="controls">
       <input id="passwordinput" name="password1" type="password" placeholder="" class="input-xlarge" required="">
     </div>
   </div>

   <!-- Text input-->
   <div class="control-group">
     <label class="control-label" for="textinput">Ime</label>
     <div class="controls">
       <input id="textinput" name="ime" value="{{ime}}" type="text" placeholder="" class="input-xlarge">
     </div>
   </div>
   <div class="control-group">
     <label class="control-label" for="textinput">Priimek</label>
     <div class="controls">
       <input id="textinput" name="priimek" value="{{priimek}}" type="text" placeholder="" class="input-xlarge">
     </div>
   </div>
   <div class="control-group">
     <label class="control-label" for="textinput">Številka plačilne kartice</label>
     <div class="controls">
       <input id="textinput" name="placilna_kartica" value="{{placilna_kartica}}" type="text" placeholder="" class="input-xlarge">
     </div>
   </div>

   <!-- Password input-->
   <div class="control-group">
     <label class="control-label" for="password2">Novo geslo</label>
     <div class="controls">
       <input id="password2" name="password2" type="password" placeholder="" class="input-xlarge">
       
     </div>
   </div>

   <!-- Password input-->
   <div class="control-group">
     <label class="control-label" for="password3">Potrdite geslo</label>
     <div class="controls">
       <input id="password3" name="password3" type="password" placeholder="" class="input-xlarge">       
     </div>
   </div>

   <!-- Button -->
   <div class="control-group">
     <label class="control-label" for="singlebutton"></label>
     <div class="controls">
       <button id="singlebutton" name="singlebutton" class="btn btn-primary"><font size="2">Spremeni</font></button>
     </div>
   </div>

   </fieldset>
   </form>
%end
