/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
  background-color: #38a181;
}

.sanjsko_potovanje {
  margin-top: 20px;
}

.navbar-inverse {
  background-color: #2040e0;
}

.navbar-inverse .navbar-brand {
  color: #38a181;
  font-weight: bold;
}

.navbar-inverse .navbar-brand:hover {
  color: #ccc;
  font-weight: bold;
}

.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus {
	color: #ccc;
	font-weight: bold;
}

.navbar-inverse .navbar-nav>li>a, .navbar-inverse .navbar-nav>li>a:focus {
	color: #38a181;
	font-weight: bold;
}
/* Gumb in forma v zeleni barvi, in link Registracija */
.btn-primary {
    color: #fff;
    background-color: #38a181;
	background-image: linear-gradient(to bottom,#38a181 0,#333 100%);
    border-color: #fff;
	
}
.btn-primary:hover{
    background-color: #38a181;
	color: #fff;
	background-image: linear-gradient(to bottom,#38a181 0,#333 100%);
	background-position: 0px;
	 border-color: #333;
}
.btn-primary:focus {
    background-color: #2d6ca2;
	color: #fff;
	background-image: linear-gradient(to bottom,#38a181 0,#333 100%);
	background-position: 0px;
	border-color: #333;
}
.btn-primary:active {
    color: #fff;
    background-color: ##38a181;
    border-color: #333;
	background-image: linear-gradient(to bottom,#38a181 0,#333 100%);
}
.btn-primary:visited {
    color: #fff;
    background-color: ##38a181;
    border-color: #333;
	background-image: linear-gradient(to bottom,#38a181 0,#333 100%);
}
a {
    color: #38a181;
}
a:hover {
    color: #38a181;
}
/* ----------------------------------------------------- */
footer {
 text-align: right;
 margin-right: 20px;
 padding-top: 60px;
}
/* --------Izpis napak-------------------- */
.alert-warning {
    border-color: #bb29bb;
	font-size: 12px;
	font-weight: bold;
}

.alert-warning {
color: #bb29bb;
}
