/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
  background-color: #38a181;
}

.sanjsko_potovanje {
  margin-top: 20px;
}

.navbar-inverse {
  background-color: #2040e0;
}

.navbar-inverse .navbar-brand {
  color: #38a181;
  font-weight: bold;
}

.navbar-inverse .navbar-brand:hover {
  color: #ccc;
  font-weight: bold;
}

.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus {
	color: #ccc;
	font-weight: bold;
}

.navbar-inverse .navbar-nav>li>a, .navbar-inverse .navbar-nav>li>a:focus {
	color: #38a181;
	font-weight: bold;
}
/* Gumb in forma v zeleni barvi, in link Registracija */
.btn-primary {
    color: #fff;
    background-color: #38a181;
	background-image: linear-gradient(to bottom,#38a181 0,#333 100%);
    border-color: #fff;
	
}
.btn-primary:hover{
	color: #fff;
    background-color: #38a181;
	background-image: linear-gradient(to bottom,#38a181 0,#333 100%);
	border-color: #333;
	background-position: 0px;
}
.btn-primary:focus {
	color: #fff;
	background-color: #2d6ca2;
	background-image: linear-gradient(to bottom,#38a181 0,#333 100%);
	border-color: #333;
	background-position: 0px;
}
.btn-primary:active {
    color: #fff;
    background-color: ##38a181;
    border-color: #333;
	background-image: linear-gradient(to bottom,#38a181 0,#333 100%);
}
.btn-primary:visited {
    color: #fff;
    background-color: ##38a181;
    border-color: #333;
	background-image: linear-gradient(to bottom,#38a181 0,#333 100%);
}
a {
    color: #38a181;
}
a:hover {
    color: #38a181;
}
/* ----------------------------------------------------- */
footer {
 text-align: right;
 margin-right: 20px;
 margin-bottom: 0px;
 padding-top: 20px;
 padding-bottom: 20px;
 height: 30px;
}
hr {
    margin-top: 60px;
margin-bottom: 5px;
}
/* --------Izpis napak-------------------- */
.alert-warning {
    border-color: #bb29bb;
	font-size: 12px;
	font-weight: bold;
}

.alert-warning {
color: #bb29bb;
}
/* --------Leti, kupi karto...-------------------- */
.btn-info {
background-image: linear-gradient(to bottom,#337ab7 0,#2e6da4 100%);
background-color: #3072ab;
border-color: #28a4c9;
}
.btn-info:visited{
background-image: linear-gradient(to bottom,#337ab7 0,#2e6da4 100%);
background-color: #3072ab;
border-color: #28a4c9;
}
.btn-info:hover{
background-image: linear-gradient(to bottom,#337ab7 0,#2e6da4 100%);
background-color: #3072ab;
border-color: #333;
background-position: 0px;
}
.btn-info:focus{
background-image: linear-gradient(to bottom,#337ab7 0,#2e6da4 100%);
background-color: #2d6ca2;
border-color: #333;
	background-position: 0px;
}
.btn-info:active{
background-image: linear-gradient(to bottom,#337ab7 0,#2e6da4 100%);
background-color: #3072ab;
border-color: #333;
}
.col-md-offset-2 {
    margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;
	    width: 100%;
}
.panel-heading {
    background-image: linear-gradient(to bottom,#337ab7 0,#2e6da4 100%);
}
div.control-group {
	font-weight: bold;
}
legend {
    font-weight: bold;
    font-size: 23px; 
}
